<form method="post" class="form-horizontal form-login" >
    <div class="container">
        <div class="center-block well">
            <h2 class="mb-small text-center">chevre</h2>
            <div class="mb-middle">
                <img class="center-block img-responsive img-circle" src="/images/ProjectIcon.png" alt="">
            </div>
            <div class="mb-small">
                <input type="text" name="username" id="username" class="form-control" value="<%= req.body.username %>" placeholder="username">
                <p class="error message text-danger" style="text-align:left;">
                <% if (errors && errors.username) { %>
                <%- errors.username.msg %>
                <% } %>
                </p>
            </div>
            <div class="mb-small">
                <input type="password" name="password" id="password" class="form-control" value="<%= req.body.password %>" placeholder="password">
                <% /* 単体チェックエラー */ %>
                <p class="error message text-danger" style="text-align:left;">
                    <% if (errors && errors.password) { %>
                    <%- errors.password.msg %>
                    <% } %>
                </p>
            </div>
            <button type="button" class="btn btn-ok btn-primary btn-lg btn-block">ログイン</button>
        </div><!-- /card-container -->
    </div><!-- /container -->
</form>
<script>
$(function(){
    $("#username").focus();
    $('form').on('keydown', function(){
        if(window.event.keyCode==13) $('form').submit()
    });
    $('.btn-ok').on('click', function(){
        $('form').submit();
    });
});

</script>

