@import './theme';
$font-family: -apple-system, "Lucida Grande", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", "メイリオ", Meiryo, Helvetica, Arial, sans-serif;

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    @include media-breakpoint-down(sm) {
        width: 5px;
        height: 5px;
    }
}

::-webkit-scrollbar-track {
    background-color: rgba(85, 59, 59, 0.1);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
}

html, body {
    height: 100%;
}
body {
    text-size-adjust: 100%;
    background-attachment: fixed;
    font-size: 14px;
    color: #333;
}


.table {
    thead, tbody {
        th, td {
            vertical-align: middle;
            line-height: 1.6;
        }
    }
}

.scroll-horizontal .table {
    min-width: 736px;
}

// simple-pagination
.simple-pagination {
    ul {
        li {
            a, span {
                padding: 0.5rem;
                line-height: 1;
                background-image: none;
                background-color: $light-gray;
                border-color: $gray;
                box-shadow: none;
                &:hover {
                    background-color: transparent;
                    border-color: $gray;
                }
            }
            &.active {
                a, span {
                    background-color: $primary;
                    border-color: $primary;
                }     
            }
            &.disabled {
                a, span {
                    background-color: $dark-gray;
                    border-color: $dark-gray;
                } 
            }
        }
    }
}


// loading
.loader,
.loader:after {
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
.loader {
    margin: 60px auto;
    position: relative;
    text-indent: -9999em;
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-left-color: #FFF;
    transform: translateZ(0);
    animation: load8 1.1s infinite linear;
}

.process {
    opacity: 1;
    z-index: 2000;
    .text {
        margin-top: 120px;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes loading {
    30% {
        transform: scaleY(2);
    }
}

@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}