@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$body-bg: #000;
$body-color: #333;
$theme-colors: (
    primary: $primary, 
    secondary: $secondary, 
    success: $success, 
    info: $cyan, 
    warning: $yellow, 
    danger: $red, 
    light: $gray-100, 
    dark: $gray-800
);

$dark-gray: #666;
$gray: #AAA;
$light-gray: #f6f7fb;

