<header>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <img class="img-circle logo" src="/images/ProjectIcon.png" alt="">
                <h1 class="title">chevre</h1>
            </div>
            <div class="navbar-text navbar-right">
                <span><%- // req.staffUser.get('name').ja %>user name</span>
                <a class="btn btn-logout btn-default" href="/master/logout"><span>ログアウト</span></a>
            </div>
        </div>
    </nav>
</header>
