<div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-transparent border-0">
            <div class="modal-body overflow-hidden">
                <div class="loader mt-0 mb-3">
                    Loading...
                </div>
                <div class="text-center text-white">Loading...</div>
            </div>
        </div>
    </div>
</div>