<div class="form-group">
    <label for="name" class="">
        名称<span class="text-danger">＊</span>
    </label>
    <input class="form-control" name="name" id="name" placeholder="" maxlength=64 value="<%= forms.name %>">
    <p class="message">
        全角64文字以内でご入力ください。
    </p>
    <p class="error message text-danger">
        <% if (errors && errors.name) { %>
        <%- errors.name.msg %>
        <% } %>
    </p>
</div>

<%- include('../common/part/_additionalProperty', {
    additionalProperty: forms.additionalProperty
}) %>