<div class="form-group row">
    <label for="name" class="col-md-3 pt-0 pt-md-3 text-md-right mb-2 mb-md-0">
        名称<font color="red">＊</font>
    </label>
    <div class="col-md-9">
        <input class="form-control" name="name" id="name" placeholder="" maxlength=64 value="<%= forms.name %>">
        <p class="message">
            全角64文字以内でご入力ください。
        </p>
        <p class="error message text-danger">
            <% if (errors && errors.name) { %>
            <%- errors.name.msg %>
            <% } %>
        </p>
    </div>
</div>