<div class="material-datatables">
    <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
            <div class="col-sm-12">
                <form method="post" class="search">
                    <%- include('../common/master/_hidden') %>

                        <div class="form-row">
                        </div>

                        <div class="advanced collapse">
                        </div>
                </form>
            </div>
        </div>
        <div id="list" style="display:none;" class="row">
            <div class="col-sm-12 table-responsive">
                <table id="datatables" class="table table-no-bordered table-hover dataTable dtr-inline" cellspacing="0"
                    width="100%" style="width: 100%;" role="grid" aria-describedby="datatables_info">
                    <thead class="text-primary">
                        <tr>
                            <th>Scope</th>
                            <th>Name</th>
                            <th>Threshold</th>
                            <th>利用可能期間指定</th>
                            <th>利用不可能期間指定</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="templateRow" data-id="$id$">
                            <td name="scope">
                                $scope$
                            </td>
                            <td name="name">
                                $name$
                            </td>
                            <td name="threshold__aggregationUnitInSeconds">
                                $threshold$ / $aggregationUnitInSeconds$ seconds
                            </td>
                            <td name="scope__numAvailableHoursSpecifications">
                                <a href="javascript:void(0)" class="" data-scope="$scope$">
                                    $numAvailableHoursSpecifications$
                                </a>
                            </td>
                            <td name="scope__numUnavailableHoursSpecifications">
                                <a href="javascript:void(0)" class="" data-scope="$scope$">
                                    $numUnavailableHoursSpecifications$
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="datatables_info" role="status" aria-live="polite">
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_full_numbers" id="datatables_paginate">
                </div>
                <div id="pager" class="div_pager_parent float-right"></div>
            </div>
        </div>
    </div>
</div>