<div class="material-datatables">
    <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
            <div class="col-sm-12">
                <form method="post" class="search">
                    <%- include('../common/master/_hidden') %>

                    <div class="form-row">
                        <div class="form-group bmd-form-group col-md-2">
                            <label for="orderStatus" class="bmd-label-static">
                                ステータス
                            </label>
                            <select class="form-control" name="orderStatus">
                                <option value="">ステータス選択</option>
                                <% orderStatusTypes.forEach(function(orderStatusType) { %>
                                <option value="<%= orderStatusType.codeValue %>">
                                    <%= orderStatusType.name %>
                                </option>
                                <% }) %>
                            </select>
                        </div>
                        <div class="form-group bmd-form-group col-md-2">
                            <label for="confirmationNumber" class="bmd-label-static">
                                確認番号
                            </label>
                            <input class="form-control" placeholder="確認番号" name="confirmationNumber"
                                id="confirmationNumber" />
                        </div>
                        <div class="form-group bmd-form-group col-md-2">
                            <label for="application" class="bmd-label-static">
                                アプリケーション
                            </label>
                            <select class="form-control" name="application" id="application" style="width: 100%;">
                            </select>
                        </div>
                        <div class="form-group bmd-form-group col-md-2">
                            <label for="admin[id]" class="bmd-label-static">
                                仲介
                            </label>
                            <select class="form-control" name="admin[id]" id="admin[id]" style="width: 100%;">
                            </select>
                        </div>
                    </div>

                    <div class="advanced collapse">
                        <div class="form-row">
                            <div class="form-group bmd-form-group col-md-2">
                                <label for="orderNumber" class="bmd-label-static">
                                    注文番号
                                </label>
                                <input type="text" class="form-control" name="orderNumber" id="orderNumber"
                                    placeholder="注文番号" />
                            </div>
                            <div class="form-group bmd-form-group col-md-4">
                                <label for="orderFrom" class="bmd-label-static">
                                    注文日(From - To)
                                </label>

                                <div class="input-group">
                                    <input class="form-control datepicker" placeholder="" maxlength=10
                                        name="orderFrom" id="orderFrom" value="" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">から</span>
                                    </div>
                                    <input class="form-control datepicker" placeholder="" maxlength=10
                                        name="orderThrough" id="orderThrough" valufe="" />
                                    <div class="input-group-append">
                                        <span class="input-group-text">まで</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group bmd-form-group col-md-2">
                                <label for="customer[id]" class="bmd-label-static">
                                    カスタマーID
                                </label>
                                <input class="form-control" placeholder="ID" name="customer[id]" id="customer[id]" />
                            </div>
                            <div class="form-group bmd-form-group col-md-2">
                                <label for="customer[name]" class="bmd-label-static">
                                    カスタマー名称
                                </label>
                                <input class="form-control" placeholder="Name" name="customer[name]"
                                    id="customer[name]" />
                            </div>
                            <div class="form-group bmd-form-group col-md-2">
                                <label for="customer[email]" class="bmd-label-static">
                                    カスタマーEmail
                                </label>
                                <input class="form-control" placeholder="Email" name="customer[email]"
                                    id="customer[email]" />
                            </div>
                            <div class="form-group bmd-form-group col-md-2">
                                <label for="customer[telephone]" class="bmd-label-static">
                                    カスタマーTEL
                                </label>
                                <input class="form-control" placeholder="Telephone" name="customer[telephone]"
                                    id="customer[telephone]" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="list" style="display:none;" class="row">
            <div class="col-sm-12 table-responsive">
                <table id="datatables" class="table table-no-bordered table-hover dataTable dtr-inline" cellspacing="0"
                    width="100%" style="width: 100%;" role="grid" aria-describedby="datatables_info">
                    <thead class="text-primary">
                        <tr>
                            <th>注文番号</th>
                            <th>注文日時</th>
                            <th>ステータス</th>
                            <th>確認番号</th>
                            <th>返品日時</th>
                            <th>カスタマー</th>
                            <th>販売者</th>
                            <th>仲介</th>
                            <th>アプリ</th>
                            <th>金額</th>
                            <th>アイテム</th>
                            <th>決済方法</th>
                            <th>返品者</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="templateRow" data-id="$id$">
                            <td name="orderNumber__orderNumber">
                                <a href="javascript:void(0)" class="showOrder" data-orderNumber="$orderNumber$">
                                    $orderNumber$
                                </a>
                            </td>
                            <td name="orderDate|date:YY-MM-DD HH:mm:ssZ">
                                $orderDate$
                            </td>
                            <td name="orderStatus">
                                $orderStatus$
                            </td>
                            <td name="confirmationNumber">
                                $confirmationNumber$
                            </td>
                            <td name="dateReturned|date:YY-MM-DD HH:mm:ssZ">
                                $dateReturned$
                            </td>
                            <td name="orderNumber__customer.name|slice:10">
                                <a href="javascript:void(0)" class="showCustomer" data-orderNumber="$orderNumber$">
                                    $customer.name$
                                </a>
                            </td>
                            <td name="orderNumber__seller.name|slice:10">
                                $seller.name$
                            </td>
                            <td name="orderNumber__broker.typeOf|slice:10">
                                <a href="javascript:void(0)" class="showBroker" data-orderNumber="$orderNumber$">
                                    $broker.typeOf$
                                </a>
                            </td>
                            <td name="application.name|slice:15">$application.name$</td>
                            <td name="price__priceCurrency">$price$ $priceCurrency$</td>
                            <td name="numItems">$numItems$</td>
                            <td name="orderNumber__numPaymentMethods">
                                <a href="javascript:void(0)" class="showPaymentMethods" data-orderNumber="$orderNumber$">
                                    $numPaymentMethods$ methods
                                </a>
                            </td>
                            <td name="orderNumber__returner.typeOf|slice:10">
                                <a href="javascript:void(0)" class="showReturner" data-orderNumber="$orderNumber$">
                                    $returner.typeOf$
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="datatables_info" role="status" aria-live="polite">
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_full_numbers" id="datatables_paginate">
                </div>
                <div id="pager" class="div_pager_parent float-right"></div>
            </div>
        </div>
    </div>
</div>