<div class="material-datatables">
    <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
            <div class="col-sm-12">
                <form method="post" class="search">
                    <%- include('../common/master/_hidden') %>

                    <div class="form-row">
                        <div class="form-group bmd-form-group col-md-2">
                            <label for="location[typeOf]" class="bmd-label-static">
                                口座種別
                            </label>
                            <input type="text" class="form-control" name="location[typeOf]" id="location[typeOf]"
                                placeholder="口座種別" />
                        </div>

                        <div class="form-group bmd-form-group col-md-2">
                            <label for="amount[currency]" class="bmd-label-static">
                                通貨
                            </label>
                            <input type="text" class="form-control" name="amount[currency]" id="amount[currency]"
                                placeholder="通貨" />
                        </div>

                        <div class="form-group bmd-form-group col-md-2">
                            <label for="location[accountNumber]" class="bmd-label-static">
                                口座番号
                            </label>
                            <input type="text" class="form-control" name="location[accountNumber]" id="location[accountNumber]"
                                placeholder="口座番号" />
                        </div>

                        <div class="form-group bmd-form-group col-md-2">
                            <label for="actionStatus[$eq]" class="bmd-label-static">
                                ステータス
                            </label>
                            <select class="form-control" name="actionStatus[$eq]">
                                <option value="">全て</option>
                                <% Object.keys(ActionStatusType).forEach(function(key) { %>
                                <option value="<%= ActionStatusType[key] %>">
                                    <%= ActionStatusType[key] %>
                                </option>
                                <% }) %>
                            </select>
                        </div>

                        <div class="form-group bmd-form-group col-md-2">
                            <label for="purpose[typeOf]" class="bmd-label-static">
                                取引タイプ
                            </label>
                            <input type="text" class="form-control" name="purpose[typeOf]" id="purpose[typeOf]"
                                placeholder="取引タイプ" />
                        </div>

                        <div class="form-group bmd-form-group col-md-2">
                            <label for="purpose[id]" class="bmd-label-static">
                                取引ID
                            </label>
                            <input type="text" class="form-control" name="purpose[id]" id="purpose[id]"
                                placeholder="取引ID" />
                        </div>

                        <div class="form-group bmd-form-group col-md-2">
                            <label for="purpose[identifier]" class="bmd-label-static">
                                取引識別子
                            </label>
                            <input type="text" class="form-control" name="purpose[identifier]" id="purpose[identifier]"
                                placeholder="取引識別子" />
                        </div>

                    </div>

                    <div class="advanced collapse">
                    </div>
                </form>
            </div>
        </div>
        <div id="list" style="display:none;" class="row">
            <div class="col-sm-12 table-responsive">
                <table id="datatables" class="table table-no-bordered table-hover dataTable dtr-inline" cellspacing="0"
                    width="100%" style="width: 100%;" role="grid" aria-describedby="datatables_info">
                    <thead class="text-primary">
                        <tr>
                            <th>開始</th>
                            <th>終了</th>
                            <th>ステータス</th>
                            <th>From</th>
                            <th>To</th>
                            <th>金額</th>
                            <th>説明</th>
                            <th>取引</th>                            							
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="templateRow" data-id="$id$">
                            <td name="startDate|date:YY-MM-DD HH:mm:ssZ">
                                $startDate$
                            </td>
                            <td name="endDate|date:YY-MM-DD HH:mm:ssZ">
                                $endDate$
                            </td>
                            <td name="actionStatus__actionStatus">
                                <span class="badge badge-light $actionStatus$">$actionStatus$</span>
                            </td>
                            <td name="fromLocation.typeOf__fromLocation.name__fromLocation.accountNumber">
                                <span class="badge badge-light">$fromLocation.typeOf$</span><br>
                                $fromLocation.name$<br>
                                $fromLocation.accountNumber$
                            </td>
                            <td name="toLocation.typeOf__toLocation.name__toLocation.accountNumber">
                                <span class="badge badge-light">$toLocation.typeOf$</span><br>
                                $toLocation.name$<br>
                                $toLocation.accountNumber$
                            </td>
                            <td name="amount.value__amount.currency">
                                $amount.value$ $amount.currency$
                            </td>
                            <td name="description__description|slice:10">
                                <a href="javascript:void(0)"
                                    title="$description$">$description$...</a>
                            </td>
                            <td name="id__purpose.typeOf__purpose.typeOf__purpose.transactionNumber">
                                <span class="badge badge-light $purpose.typeOf$">$purpose.typeOf$</span><br>
                                <a href="javascript:void(0)" class="showPurpose" data-attribute="purpose"
                                    data-id="$id$">
                                    $purpose.transactionNumber$
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="datatables_info" role="status" aria-live="polite">
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_full_numbers" id="datatables_paginate">
                </div>
                <div id="pager" class="div_pager_parent float-right"></div>
            </div>
        </div>
    </div>
</div>