<div class="material-datatables">
    <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
            <div class="col-sm-12">
                <form method="post" class="search">
                    <%- include('../common/master/_hidden') %>

                    <div class="form-row">
                        <div class="form-group bmd-form-group col-md-2">
                            <label for="category" class="bmd-label-static">
                                カテゴリー
                            </label>
                            <input type="text" class="form-control" name="category" id="category"
                                placeholder="カテゴリー" />
                        </div>

                        <div class="form-group bmd-form-group col-md-2">
                            <label for="confirmationNumber" class="bmd-label-static">
                                確認番号
                            </label>
                            <input type="text" class="form-control" name="confirmationNumber" id="confirmationNumber"
                                placeholder="確認番号" />
                        </div>

                        <div class="form-group bmd-form-group col-md-2">
                            <label for="customerGroup" class="bmd-label-static">
                                購入者グループ
                            </label>
                            <input type="text" class="form-control" name="customerGroup" id="customerGroup"
                                placeholder="購入者グループ" />
                        </div>

                        <div class="form-group bmd-form-group col-md-2">
                            <label for="eventId" class="bmd-label-static">
                                イベントID
                            </label>
                            <input type="text" class="form-control" name="eventId" id="eventId"
                                placeholder="イベントID" />
                        </div>

                        <div class="form-group bmd-form-group col-md-2">
                            <label for="reservationId" class="bmd-label-static">
                                予約ID
                            </label>
                            <input type="text" class="form-control" name="reservationId" id="reservationId"
                                placeholder="予約ID" />
                        </div>

                        <div class="form-group bmd-form-group col-md-2">
                        </div>
                    </div>

                    <div class="form-row">

                        <div class="form-group bmd-form-group col-md-4">
                            <label for="recordedFrom" class="bmd-label-static">
                                売上期間
                            </label>

                            <div class="input-group">
                                <input class="form-control datepicker" placeholder="" maxlength=10
                                    name="recordedFrom" id="recordedFrom" value="" />
                                <div class="input-group-append">
                                    <span class="input-group-text">から</span>
                                </div>
                                <input class="form-control datepicker" placeholder="" maxlength=10
                                    name="recordedThrough" id="recordedThrough" valufe="" />
                                <div class="input-group-append">
                                    <span class="input-group-text">まで</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group bmd-form-group col-md-4">
                            <label for="reservationForStartFrom" class="bmd-label-static">
                                来塔予定日期間
                            </label>

                            <div class="input-group">
                                <input class="form-control datepicker" placeholder="" maxlength=10
                                    name="reservationForStartFrom" id="reservationForStartFrom" value="" />
                                <div class="input-group-append">
                                    <span class="input-group-text">から</span>
                                </div>
                                <input class="form-control datepicker" placeholder="" maxlength=10
                                    name="reservationForStartThrough" id="reservationForStartThrough" valufe="" />
                                <div class="input-group-append">
                                    <span class="input-group-text">まで</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="advanced collapse">
                    </div>
                </form>
            </div>
        </div>
        <div id="list" style="display:none;" class="row">
            <div class="col-sm-12 table-responsive">
                <table id="datatables" class="table table-no-bordered table-hover dataTable dtr-inline" cellspacing="0"
                    width="100%" style="width: 100%;" role="grid" aria-describedby="datatables_info">
                    <thead class="text-primary">
                        <tr>
                            <th>カテゴリー</th>
                            <th>注文番号</th>
                            <th>確認番号</th>
                            <th>計上日時</th>
                            <th>金額</th>
                            <th>予約ID</th>
                            <th>イベントID</th>
                            <th>イベント日時</th>
                            <th>オファー名称</th>
                            <th>オファー単価</th>
                            <th>座席コード</th>
                            <th>入場日時</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="templateRow" data-id="$id$">
                            <td name="category">
                                $category$
                            </td>
                            <td name="mainEntity.orderNumber">
                                $mainEntity.orderNumber$
                            </td>
                            <td name="mainEntity.confirmationNumber">
                                $mainEntity.confirmationNumber$
                            </td>
                            <td name="dateRecorded|date:YY-MM-DD HH:mm:ssZ">
                                $dateRecorded$
                            </td>
                            <td name="amount">
                                $amount$
                            </td>
                            <td name="reservation.id">
                                $reservation.id$
                            </td>
                            <td name="reservation.reservationFor.id">
                                $reservation.reservationFor.id$
                            </td>
                            <td name="reservation.reservationFor.startDate|date:YY-MM-DD HH:mm:ssZ">
                                $reservation.reservationFor.startDate$
                            </td>
                            <td name="reservation.reservedTicket.ticketType.name.ja">
                                $reservation.reservedTicket.ticketType.name.ja$
                            </td>
                            <td name="reservation.reservedTicket.ticketType.priceSpecification.price">
                                $reservation.reservedTicket.ticketType.priceSpecification.price$
                            </td>
                            <td name="reservation.reservedTicket.ticketedSeat.seatNumber">
                                $reservation.reservedTicket.ticketedSeat.seatNumber$
                            </td>
                            <td name="reservation.reservedTicket.dateUsed|date:YY-MM-DD HH:mm:ssZ">
                                $reservation.reservedTicket.dateUsed$
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="datatables_info" role="status" aria-live="polite">
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_full_numbers" id="datatables_paginate">
                </div>
                <div id="pager" class="div_pager_parent float-right"></div>
            </div>
        </div>
    </div>
</div>