<div class="material-datatables">
    <div id="datatables_wrapper" class="dataTables_wrapper dt-bootstrap4">
        <div class="row">
            <div class="col-sm-12">
                <form method="post">
                    <% /* 共通Hiddenコントロール */ %>
                    <%- include('../common/master/_hidden') %>

                    <div class="form-row">
                        <div class="form-group bmd-form-group col-md-2">
                            <label for="name" class="bmd-label-static">
                                名称
                            </label>
                            <input type="text" class="form-control" name="name" id="name" placeholder="" maxlength=64>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div id="list" style="display:none;" class="row">
            <div class="col-sm-12 table-responsive">
                <table id="datatables" class="table table-no-bordered table-hover dataTable dtr-inline" cellspacing="0"
                    width="100%" style="width: 100%;" role="grid" aria-describedby="datatables_info">
                    <thead class="text-primary">
                        <tr>
                            <th>コード</th>
                            <th>名称</th>
                            <th>URL</th>
                            <th>連絡窓口</th>
                            <th>追加特性</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr id="templateRow" _id="$id$">
                            <td name="branchCode">$branchCode$</td>
                            <td name="name.ja|slice">$name.ja$</td>
                            <td name="url__url|slice">
                                <a target="_blank" href="$url$">
                                    $url$
                                    <i class=" material-icons" style="font-size: 1.2em;">open_in_new</i>
                                </a></td>
                            <td name="id__numContactPoint">
                                <a href="javascript:void(0)" class="showContactPoint" data-id="$id$">
                                    $numContactPoint$
                                </a>
                            </td>
                            <td name="id__additionalProperty">
                                <a href="javascript:void(0)" class="showAdditionalProperty" data-id="$id$">
                                    表示
                                </a>
                            </td>
                            <td name="id">
                                <a target="_blank" href="/projects/<%= req.project.id %>/customers/$id$/update">
                                    <i class="material-icons" style="font-size: 1.2em;">edit</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info" id="datatables_info" role="status" aria-live="polite">
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="dataTables_paginate paging_full_numbers" id="datatables_paginate">
                </div>
                <div id="pager" class="div_pager_parent float-right"></div>
            </div>
        </div>
    </div>
</div>